<html>
<body>
<table width="500" border="0">
    <tr>
        <td colspan="2" bgcolor=#FFA500">
            <h1>Main Title of Web Page</h1>
        </td>
    </tr>
    <tr valign="top">
        <td bgcolor=#FFD700;width=100px;">
            <b>Menu</b><br />
            HTML<br />
            CSS<br />
            JavaScript
        </td>
        <td bgcolor=#EEEEEE height=200px width=400px">
            Content goes here</td>
    </tr>
    <tr>
        <td colspan="2" bgcolor=#FFA500">
            Copyright © 2012| Error! Hyperlink reference not valid.
    </tr>
</table>
</body>
</html>